.card_image {
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    height: calc(100vw / 6);
    background: #fff;
    overflow: hidden;
    

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: all 0.3s ease-in-out;
    }
}